@charset "UTF-8";

body{
    background-color: rgb(167, 218, 218);
}

header > h1{
    text-align: center;
    background-color: blue;
    color: aliceblue;
    padding: 30px;
}

main {
    background-color: white;
    padding: 10px;
}

main > h2 {
    background-color: rgb(112, 160, 175);
}
